.Activity{
    color: $primary-text-color;
    background-color: $tertiary;
    padding: $standard-padding;
    border-radius: $radius;
    width: 1100px;
    position: relative;

    a{
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: $secondary;
        color: $primary-text-color;
        border-radius: $radius;
        padding: 10px;
        text-decoration: none;
    }
    
    .wrapper{
        @include flex-box(row, left, center);
        margin-top: $margin-top;

        img{
            height: 300px;
        }

        .texts{
            @include flex-box(column, center, space-between);
            gap: 20px;

        P, span{
            padding-left: 20px;
        }

        span{
            margin-right: 20px;
        }
    }
    }
}