.Footer{
    @include flex-box(column, center, center);
    background-color: $primary;
    color: $primary-text-color;
    font-size: $font-size-standard;
    text-align: center;
    padding-top: $standard-padding;

    img{
        height: 40px;
    }
}