// Backgrounds
$primary : #0A2647;
$secondary: #144272;
$tertiary: #205295;
$quaternary: #2C74B3;

// Texts
$primary-text-color: white;
$secondary-text-color: black;

// Overlays
$overlay: rgba(0, 0, 0, 0.521)
